<section class='section'>
        <table class='table'>
            <thead class='thead'>
                <tr class='tr'>
                    <td class='td'><b>Car Brand</b></td>
                    <td class='td'><b>Car Models</b></td>
                </tr>
            </thead>
            ${listCars.map(car =>
                `<tr class='tr'>
                    <td class='td'>${car.brand}</td>
                    <td class='td'>${car.models.join(', ')}</td>
                </tr>`
                ).join('')
            }
        </table>
    </section>