<form>
<table class='table'>
    <thead class='thead'>
        <tr class='tr'>
            <tr>
                <td><b>Class Name</b></td>
                <td style='width:200px;'><b>Rank</b></td>
            </tr>
        </tr>
    </thead>
    ${
        classTopics.map(ele =>
            `
            <tr>
                <td>${ele.topic_name}</td>
                <td class='rankRadioContainer'>
                    <input type="radio" name="gender" value="1" class='rankRadio'/>1
                    <input type="radio" name="gender" value="2" class='rankRadio'/>2
                    <input type="radio" name="gender" value="3" class='rankRadio'/>3
                    <input type="radio" name="gender" value="4" class='rankRadio'/>4
                    <input type="radio" name="gender" value="5" class='rankRadio'/>5
                </td>
            </tr>
            `
        ).join('')
    }

    <tr>
        <td>    
            <button type='submit' class='is-primary'>Submit</button>
        </td>
    </tr>
</table>
</form>
