<section class='section'>
        <table class='table'>
            <thead class='thead'>
                <tr class='tr'>
                    <td class='td'><b>Phone Name</b></td>
                    <td class='td'><b>About</b></td>
                    <td class='td'><b>Image</b></td>
                </tr>
            </thead>
            ${listOfPhones.map(phone =>
                `<tr class='tr'>
                    <td class='td'>${phone.name}</td>
                    <td class='td'>${phone.snippet}</td>
                    <td class='td'><img src='${phone.imageUrl}'</td>
                </tr>`
                ).join('')
            }
        </table>
    </section>


    