<div id='displayRanking'>
    <table class='table'>
        <thead class='thead'>
            <tr class='tr'>
                <td><b>How We Rank:</b></td>
            </tr>
        </thead>
        <tr><td>0. Unranked</td></tr>
        <tr><td>1. Poor</td></tr>
        <tr><td>2. Okay</td></tr>
        <tr><td>3. Good</td></tr>
        <tr><td>4. Great</td></tr>
        <tr><td>5. Awesome</td></tr>
    </table>
    <table class='table' id='selfRank'>
        <thead class='thead'>
            <tr class='tr'>
                <td><b>Class:</b></td>
                <td style='width:200px;'><b>How We Are Doing:</b></td>
            </tr>
        </thead>
                ${
                    selfRanks.rows.map(ele=>
                        `
                        <tr>
                            <td>${ele.topic_name}</td>
                            <td>${ele.ranking}</td>
                        </tr>
                        `
                    ).join('')
                }
    </table>
    <table class='table' id='mainTable'>
        <thead class='thead'>
            <tr class='tr'>
                <td><b>Class Name</b></td>
                <td style='width:200px;'><b>Rank</b></td>
            </tr>
        </thead>
        <form id='form' action="/rate" method='POST'>
        ${
            selfRanks.rows.map(ele=>
                `
                <tr>
                    <td>${ele.topic_name}</td>
                    <td id='rankRadioContainer'>
                        ${
                            selfRanks.rows.map((e,ind)=>
                                ele.id == ind ? `<input type="radio" name='${ele.topic_name}' value=${ind+1} class='rankRadio' checked/>${ind}`:`<input type="radio" name='${ele.topic_name}' value=${ind+1} class='rankRadio'/>${ind}`
                            ).join('')
                        }
                        <textarea name='topic' style="display:none;"/>${ele.topic_name}</textarea>
                    </td>
                </tr>
                `
            ).join('')
        }
        <tr><td><button id='masterButton' type='submit' class='is-primary' name='rankObj' value=''>Submit</button></td></tr>
        </form>
    </table>
</div>