body {
  padding:40px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{
  border:1px solid #4EA1CA;
  border-collapse: separate;
  border-radius: 10px;
}

.title{
  text-align:center;
}

#displayRanking{
  display:flex;
}

#displayRanking table{
  margin:0 20px;
}

#rankRadioContainer{
  display:grid; 
  width:100%; 
  grid-row: 2; 
  margin-bottom: -1px;
}

.rankRadio{
  display: block;
  grid-row: 2;
}
.rankRadio:nth-child(1){
  grid-column: 1 / 5;
}

.rankRadio:nth-child(2){
  grid-column: 2 / 5;
}
.rankRadio:nth-child(3){
  grid-column: 3 / 5;
}
.rankRadio:nth-child(4){
  grid-column: 4 / 5;
}
.rankRadio:nth-child(5){
  grid-column: 5 / 5;
}

#buttonContainer{
  margin:0 auto;
  text-align: center;
}

#masterButton{
  width:80%;
  height:50px;
  background: #4EA1CA;
  color:white;
  transition: background 1s ease-in-out;
}

#masterButton:hover{
  background: #20536C;
}